<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<add name="connString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\\Sathees\\Suren\\DrValooClinic\\Web\\DrValooClinic\\App_Data\\Vass_Practise.mdb;"/>-->
    <!--<add name="SiteSqlConnectionString" connectionString="Server=C137088-XPA\SQLEXPRESS;database=drvalooclinic;UID=sa;PWD=Chayana21;"/>-->
    <add name="SiteSqlConnectionString" connectionString="Server=DESKTOP-4VLFDIC\SQLEXPRESS;database=Parish;UID=parish;PWD=parish;" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>

      <httpRuntime targetFramework="4.5.2" />

  </system.web>

</configuration>
